In [2]:
#standard environment setup
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

#JSON API
import requests
import json

#data visualization
import matplotlib
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [9]:
#Using what you have learned you need to extract all the data from the api
#1) Using the code from the lessons as a guide, create a data frame named items that has all the data for items.
url='https://python.zach.lol/api/v1/items'
def items_df(url):
    response=requests.get(url)
    data=response.json()
    df_items=pd.DataFrame(data['payload']['items'])
    df_items.to_csv("items.csv")
    return df_items

df_items=items_df(url)
df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [3]:
#2) Do the same thing, but for `stores`.
url='https://python.zach.lol/api/v1/stores'
def stores_df(url):
    response=requests.get('https://python.zach.lol/api/v1/stores')
    data=response.json()
    df_stores=pd.DataFrame(data['payload']['stores'])
    df_stores.to_csv("stores.csv")
    return df_stores

df_stores=stores_df(url)
df_stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [8]:
#3) Extract the data for sales
#There are a lot of pages here so your code will need to be more complex
#Your code should continue fetching data from the next page until all of the data is extracted.
url='https://python.zach.lol/api/v1/sales'
def sales_df(url):
    df_sales=pd.DataFrame()
    for i in range(1,requests.get('https://python.zach.lol/api/v1/sales').json()['payload']['max_page']):
        response=requests.get(url+'?page='+ str(i))
        data=response.json()
        df=pd.DataFrame(data['payload']['sales'])
        df_sales=df_sales.append(df)
    df_sales.to_csv("sales.csv")    
    return df_sales

df_sales=sales_df(url)
df_sales.head()
df_sales.shape

(910000, 5)

In [ ]:
#4) Save the data in your files to local csv files so that it will be faster to access in the future.

In [10]:
#5) Comine the data from your three seperate data frames into one large dataframe.
def combine_df(df1,df2,df3):
    df_combined=pd.merge(pd.merge(df3,df2,left_on='store',right_on='store_id',how="left"),df1,left_on="item",right_on="item_id",how="left")
    df_combined.to_csv('store_database.csv')
    return df_combined


df_combined=combine_df(df_items,df_stores,df_sales)
df_combined.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [20]:
#6) Make sure all the work that you have done above is reproducible. That is, you should put the code above into 
#seperate functions and be able to re-run the functions and get the same results.
def get_store_data():
    url1='https://python.zach.lol/api/v1/items'
    url2='https://python.zach.lol/api/v1/stores'
    url3='https://python.zach.lol/api/v1/sales'
    df1=items_df(url1)
    df2=stores_df(url2)
    df3=sales_df(url3)
    combined_df=combine_df(df1,df2,df3)
    return combined_df


combined_df=get_store_data()

In [19]:
combine_df.head()

AttributeError: 'function' object has no attribute 'head'